<div class="scrolling-box">
    <section id="india" class="india-img">
        <div class="w3-display-middle w3-text-white">
            <h1 class="w3-jumbo w3-animate-top">{{Title}}</h1>
            <hr class="w3-border-grey" style="margin:auto;width:40%">
            <p class="w3-large w3-center">{{India-Description}}</p>
        </div>
    </section>
    <section id="dubai" class="dubai-img w3-jumbo w3-animate-top">
        <div class="w3-display-middle w3-text-white">
            <p class="w3-large w3-center">{{Dubai-Description}}</p>
        </div>
    </section>

    <section id="usa" class="usa-img w3-jumbo w3-animate-top">
        <div class="w3-display-middle w3-text-white">
            <p class="w3-large w3-center">{{USA-Description}}</p>
        </div>
    </section>
</div>